.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  max-width: 600px;
  flex: 1 0 30px;
  display: flex;
  background-color: rgb(223, 219, 219);
  margin: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  padding-inline: 1rem;
}

.nameGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  width: 175px;
  max-width: 175px;
  padding-right: 5px;
}

.nameGroup * {
  margin: 0.5rem 0;
  line-height: 1;
  display: inline-block;
}

.activeStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 140px;
  max-width: 150px;
}

.activeStack * {
  margin-block: 0.5rem;
}

.lastSeen {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 0.4rem;
}

.active {
  height: 17px;
  width: 17px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-block: auto;
}

.inactive {
  height: 17px;
  width: 17px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-block: auto;
}

@media (max-width: 600px) {
  .name {
    font-size: 1.2rem;
  }
  .description {
    font-size: 1rem;
  }
  .title {
    font-size: 2.2rem;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .item {
    max-width: 100%;
    margin-inline: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
  .item {
    background-color: rgb(39, 33, 33);
  }
  .lastSeen {
    background-color: rgb(72, 52, 52);
  }
  .copyIcon {
    fill: #fff;
  }
}
